Repository BF-FrontEnd-class/agile-development-group2-all-about-trees, pull requests merged in 2023-05, with the labels that each got.

#2 update README.md
  .cspell.json
  README.md
  package.json
Labels: md, planning

#32 update title
  index.html
  styles/something.css
Labels: css, HTML

#34 add and style button
  .cspell.json
  index.html
  styles/something.css
Labels: css, HTML

#37 add website footer
  index.html
  styles/something.css
Labels: css, HTML

#33 add section style paragraph
  index.html
  styles/something.css
Labels: css, HTML

#35 add navigation link
  index.html
  styles/something.css
Labels: css, HTML

#38 update logo
  index.html
Labels: css, HTML

#39 update navigation
  index.html
Labels: css, HTML

#41 update image
  assets/happy-tree.png
  styles/something.css
Labels: css, HTML

#42 update pdf
  index.html
  styles/something.css
Labels: css, HTML

#44 update navigation
  index.html
  styles/something.css
Labels: CSS, HTML

#45 Logo
  index.html
  styles/something.css
Labels: CSS, HTML

#47 update title
  assets/tree.png
  index.html
  styles/something.css
Labels: CSS, HTML

#48 update pdf
  index.html
  styles/something.css
Labels: CSS, HTML

#49 update image
  assets/tree2.png
  index.html
  styles/something.css
Labels: CSS, HTML

#51 update description
  index.html
  styles/something.css
Labels: CSS, HTML

#53 update description
  styles/something.css
Labels: CSS, HTML

#54 add footer and change of position in all css
  index.html
  styles/something.css
Labels: CSS, HTML

#55 add retrospective
  planning/retrospective.md
Labels: md, planning

#57 update development strategy
  planning/development-strategy.md
Labels: md
